@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* paleta de colores */
    --violeta: #341d75; /* RGB */
    --blancoMarfil: #e2e6ea;
    --transparente: rgba(150, 12, 255, 0.473);

    /* tamaño */
    --tamanoParrafo: 2rem;
    --tamanoTitulos: 4rem;
    --tamanoSubtitulos: 2.8rem;

    /*fondos */
    --fondoTexto: #e8c7ff;
    --fondoOscuro: #0f011e;
    

    /* tipografia */
    --letraFamily: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    --background-color: #957375;
}

/* que los links no tengan un subrayado */
a{
    text-decoration: none;
}

/* selector { propiedades: valor; } */
body.light-mode{
    background-color: #e2e6ea;
    --colorText: #000;
    --background-Form-color: #ffffff;
}
body.dark-mode{
    background-color: rgb(87, 87, 87);
    --colorText: #ffffff;
    --background-Form-color: #000;
}
body {
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    font-family: var(--letraFamily);
}

*{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--colorText);
    text-align: center;
}


/******************************************* HEADER *******************************************/
/* ******************** Barra de navegación ***************** */
nav{
    position: sticky;
    top:0;
    background-color: var(--violeta); 
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

.Titulo {
    color: white;
    font-size: larger;
    padding: 0px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.Logo{
    top: 0;              
    left: 0;                  
    width: 5rem;        
    height: 4rem;     
}

.nav_inicio{
    display: flex;    
    align-items: center;
    height: 4rem;
}

/* Animación logo */
.nav_inicio img:hover{
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

.iconos{
    justify-content: flex-end;
    margin-right: 2rem;
}

.icono{
    margin-right: 1rem;
}

.btn-custom{
    background-color: red;
    color: var(--colorText);
    border: none;
}

/******************************************* MAIN *******************************************/
main{
    padding-top: 7.5vh;
    padding-bottom: 15vh;
}

/*Desarollo*/

.form-container{
    display: flex;
    justify-content: center;
    padding-top: 7.5vh;
}

.EnviarFormulario{
    color: #000;
}

.InputForm{
    background-color: var(--background-Form-color);
    width: 80%;
    margin-bottom: 2%;
}

.productForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top{
    width: 10%;
}

td{
    border: black solid 1px;
}

/**************************************** FOOTER *************************************************/
.container{
    margin-top: auto;
    background-color: var(--violeta);
    margin-left: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 20px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    color: white;
    align-items: center;
}

#botones_quienes_somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item_footer{
    margin-bottom: 5vh;
}

#QuienesSomos{
    color: #e2e6ea;
    align-content: center;
    text-align: center;
}

/**************** Formulario *****************/
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************** Redes *****************/
.RSocial{
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.logo_redes{  
    border-radius: 100%;  
    max-width: 90%;
    height: auto;
}
.RSocial p{
    margin: 0;
    align-content: center;
}

.container img:hover{
    animation: bounce 0.5s;
}
@keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}


/****************************************media query*************************************************/

@media screen and (max-width: 800px){

    /*********** HEADER ************/
    .Titulo{
        display: none;
    }

    .iconos{
        display:none;

    }

    nav{
        display: flex;
        justify-content: center;
    }

    .carousel{
        display: none;
    }
}

@media screen and (max-width: 500px){
    /*********** FOOTER ************/
    .container{
        padding: 0;
    }

    .container{
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #redes_footer{
        padding-left: 42%;
        margin-top: 2.5vh;
        padding-top: 2.5vh;
        border-top: var(--background) solid 3px;
    }
}